{% extends 'physio-slim/main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<script src="assets/js/scripts.bundle.js"></script>
{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-7 d-flex justify-content-center align-items-center ">
        <form method="POST" action="" enctype="multipart/form-data" class="form"> {% csrf_token %}
        <div class="row px-2">
            {% for message in messages %}
				<span  style='display: none;' id="messages" class="">{{message}}</span>
			{% endfor %}
            <h1 class="text-uppercase">Complete registration</h1>
            <p>
                <!-- <input type="text" name="" id="" value="{{user.socialaccount_set.all.0.get_avatar_url}}"> -->
                <div class="file-field">
                    <div class=" d-flex flex-column  align-items-center">
                        <img src="{{MEDIA_URL}}/{{request.user.picture}}  "
                            class="rounded-circle avatar-pic" id='editPhoto' style=" object-fit: cover;
                            width:150px;
                            height:150px;" alt="avatar">
                        <label for="file-upload" class="custom-file-upload mt-3">
                            <i class="fa fa-cloud-upload"></i> Edit Photo
                        </label>
                        <input id="file-upload" type="file" name="avatar" onchange="changeAvatar()"
                            accept="image/*" />
                    </div>
                </div>
            </p>
            <div class="inset col-6" id="first">
                    <p>
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Enter username..." required value="{{form.username.value}}">
                    </p>
                    <p>
                        <label>Phone</label>
                        <input type="tel" name="phone" placeholder="Enter phone..." required value="{{form.phone.value}}">
                    </p>
                   <p>
                    <label>Branch</label>
                    <select name="branch" class="" required="" id="id_branch">  
                        {% for x, y in form.fields.branch.choices %}
                        {% if not x %}
                        <option value="" {% if form.branch.value == '' %}selected{% endif %}>Choose your branch </option>
                        {% else %}
                            <option value="{{ x }}" {% if form.branch.value == x|slugify %}selected{% endif %}>{{ y  }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                   </p>
            </div>
            <div class="inset col-6" id="second" >
                <p>
                    <label>Age</label>
                    <input type="date" name="age" placeholder="Enter age..." required min="1" value="{{form.age.value}}">
                </p>
                <p>
                    <label for="id_membership_num">Membership No.(optional):</label>
                    <input type="text" name="membership_num" placeholder="Enter membership number" {% if requset.user.membership_num %}value="{{form.membership_num.value}}"{% endif %}>
                </p>
                
                
                <p>
                    <label>Gender</label>
                    <select name="gender" class="" required="" id="id_gender">
                        {% for x, y in form.fields.gender.choices %}
                        {% if not x %}
                        <option value="" {% if form.gender.value == '' %}selected{% endif %}>Choose your gender </option>
                        {% else %}
                            <option value="{{ x }}" {% if form.gender.value == x|slugify %}selected{% endif %}>{{ y  }}</option>
                        {% endif %}
                        {% endfor %}

                    </select>
                </p>
            </div>
            <div class="px-5">
                {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="text-danger">
                                <p>{{ error|escape }}</p>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
            </div>

              
            <p class="p-container">
                <input class="submit" id="submit" type="submit" value="Activate" >
            </p>                
     

        </div>
       </form>
    </div>
</div>





<script>
            var img = document.getElementById("editPhoto")
console.log(img)
    function changeAvatar() {
        var img = document.getElementById("editPhoto")
        var avatar = document.getElementById("file-upload")
        img.src = URL.createObjectURL(avatar.files[0])

    }

</script>



</body>

{% endblock %}