{% load static %}
{% block bell %}
  

<div class = "notification ">
  <div class = "notBtn" href = "#">
    <!--Number supports double digets and automaticly hides itself when there is nothing between divs -->
    {% if not notifications.count == 0 %}
      <div class = "number">{{ notifications.count }}</div>
    {% endif %}
    <i class="fas fa-bell"></i>
      <div class = "box">
        <div class = "display">
          <div class = "nothing"> 
            <i class="fas fa-child stick"></i> 
            <div class = "cent">Looks Like your all caught up!</div>
          </div>
          <!-- content -->
          <div class = "cont">
            {% for notification in notifications %}
              {% if notification.notification_type == 1 %}
              <a class=" text-danger float-end" href="{% url 'RemoveNotifications' notification.id %}">&times;</a>
                <div class = "sec 'new'">
                  <a href = "{% url 'ClassNotifications' notification.id notification.Class.id %}">
                  <div class = "profCont">
                  <img class = "profile"  src="{{MEDIA_URL}}/{{notification.Class.photo}} " alt="hello">
                  </div>
                  <div class = "txt">New {{notification.Class}} Class ! </div>
                  <div class = "txt sub">{{notification.created_on}}</div>
                  </a>
                </div>
                {% elif notification.notification_type == 2 %}
                <a class=" text-danger float-end" href="{% url 'RemoveNotifications' notification.id %}">&times;</a>
                <div class = "sec">
                  <a href = "{% url 'EventNotifications' notification.id notification.Event.id %}">
                  <div class = "profCont">
                  <img class = "profile"  src="{{MEDIA_URL}}/{{notification.Event.photo}} " alt="hello">
                  </div>
                  <div class = "txt">New {{notification.Event}} Event !</div>
                  <div class = "txt sub">{{notification.created_on}}</div>
                  </a>
                </div>
                {% elif notification.notification_type == 3 %}
                <a class=" text-danger float-end" href="{% url 'RemoveNotifications' notification.id %}">&times;</a>
                <div class = "sec">
                  <a href = "{% url 'TrainerNotifications' notification.id notification.trainer.id notification.trainer.branch_id %}">
                  <div class = "profCont">
                  <img class = "profile"  src="{{MEDIA_URL}}/{{notification.trainer.photo}} " alt="hello">
                  </div>
                  <div class = "txt">New {{notification.trainer}} Personal Trainer !</div>
                  <div class = "txt sub">{{notification.created_on}}</div>
                  </a>
                </div>
                {% elif notification.notification_type == 4 %}
                <a class=" text-danger float-end" href="{% url 'RemoveNotifications' notification.id %}">&times;</a>
                <div class = "sec">
                  <a href = "{% url 'OfferNotifications' notification.id notification.Offer.id notification.Offer.branch_id %}">
                  <div class = "profCont">
                  <img class = "profile"  src="{{MEDIA_URL}}/{{notification.Offer.photo}} " alt="hello">
                  </div>
                  <div class = "txt">New {{notification.Offer}} Offer ! </div>
                  <div class = "txt sub">{{notification.created_on}}</div>
                  </a>
                </div>
                {% elif notification.notification_type == 5 %}
                <a class=" text-danger float-end" href="{% url 'RemoveNotifications' notification.id %}">&times;</a>
                <div class = "sec">
                  <a href = "{% url 'MOfferNotifications' notification.id notification.MainOffer.id %}">
                  <div class = "profCont">
                  <img class = "profile"  src="{{MEDIA_URL}}/{{notification.MainOffer.photo}} " alt="hello">
                  </div>
                  <div class = "txt">New {{notification.MainOffer}} Offer ! </div>
                  <div class = "txt sub">{{notification.created_on}}</div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
    </div>
  </div>
</div>
</div>
</div>


  
{% endblock %}











