{% extends 'physio-slim/main.html' %}
{% load static %}
{% block head %}

<title>Home</title>

<link rel="stylesheet" href="{% static 'css/contactUs.css' %}">
{% endblock %}

{% block navbar %}
{% include 'physio-slim/navbar.html' %}
{% endblock %}

{% block main %}
<!-- "col-md-4 col-sm-12 mr-2" -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" wi>
    <div class="carousel-inner " style="height:80vh;margin-top: 7%;">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'images/img1.jpg' %}" class="d-block w-100" alt="img1">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/img2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/img3.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="contact-us">
    <div class="contact-us py-5">
        <div class="row py-5">
            {% for branch in branches %}
            <div class="col text-center">
                <a href="{% url 'branch' branch.id %}">
                    <p>{{branch.name|title}}</p>
                </a>
                <p>{{branch.address|title}}</p>
                <p><i class="fa-solid fa-phone fs-6"></i> {{branch.phone}}</p>
            </div>
            {% endfor %}
        </div>
        <!-- socialmedia icons -->
        <div class="text-center py-1"> Check us on social media
            <div class="col-sm text-center">
               <a href="https://www.facebook.com/Physio-slim-1642568222659235/" target="_blank"><i class="fa-brands fa-facebook-f px-2"></i></a>
               <a href="https://instagram.com/physio_slim33?utm_medium=copy_link" target="_blank"><i class="fa-brands fa-instagram px-2"></i></a>
            </div>
        </div>
        <!-- email us -->
        <div class="text-center py-1"> For queries and concerns
            <div class="col-sm text-center">
                <i class="fa-solid fa-envelope px-2"></i> physio.slim2@gmail.com
            </div>
        </div>
    </div>
</div>
{% endblock %}