{% extends 'physio-slim/main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}

{% block body %}


<div class="row">
	<div class="col-5 d-flex justify-content-center align-items-center">
		<div class="col-10">
			<form method="POST" action=""> {% csrf_token %}
				<h1>Login</h1>
				<div class="inset">
					<p>
						<label for="username">USERNAME OR EMAIL</label>
						<input type="text" name="username" placeholder="username or email..." >
					</p>
					<p>
						<label for="password">PASSWORD</label>
						<input type="password" name="password" placeholder="password...">
					</p>
					<a href="{% url 'reset_password' %}" class="forget">Forgot password ?</a>

				</div>
				{% for message in messages %}
				<p id="messages" style="font-weight: bolder;">{{message}}</p>
				{% endfor %}
				<p class="p-container">
					<input class="" type="submit" value="Login">
				</p>
				</form>
			
		</div>
		
	</div>

	<div class="col-7">
		<img src="{% static 'images/login1.jpg' %}" style="width: 100%;">
	</div>
</div>



{% endblock %}