{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<style>
    .logoutText {
        visibility: hidden;
    }

    @media only screen and (min-width: 990px) {
        .logout {
            position: relative;
        }

        .logout .logoutText {
            visibility: hidden;
            width: 70px;
            background-color: rgba(167, 167, 167, 0.699);
            color: #fff;
            text-align: center;
            border-radius: 3px;
            padding: 5px 0;

            /* Position the logout */
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 50%;
            margin-left: -40px;
        }

        .logout:hover .logoutText {
            visibility: visible;
        }
    }
</style>
{% endblock %}




<nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top  justify-content-between background-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">


            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mt-1">
                    <a class="nav-link" href="{% url 'home' %}"><b>Physio-Slim</b></a>
                </li>

                <li class="nav-item dropdown mt-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Branches
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for branch in branches %}
                        <li><a class="dropdown-item dropdown-item-font" href="{% url 'branch' branch.id %}">{{branch.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>


            {% if request.user.is_authenticated %}

            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 pb-0" style="padding-right: 3%;">
                <li class="nav-item mt-1">
                    <a class="nav-link" href="#about"><b>About</b></a>
                </li>
                <li class="nav-item mt-1">
                    <a class="nav-link" href="#contact-us"><b>Contact us</b></a>
                </li>
                <li class="nav-item dropdown mt-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user|title}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item dropdown-item-font" href="#">Account<i class="fa-solid fa-user px-2"></i> </a></li>
                        {% if not request.user.is_annonymous %}
                        <li><a class="dropdown-item dropdown-item-font" href="/admin" target="_blank">Manage Site <i class="fa-solid fa-gear px-1"></i></a></li>
                        {% endif %}
                        <li><a class="dropdown-item dropdown-item-font" href="{% url 'logout' %}">Logout <i class="fa-solid fa-arrow-right-from-bracket px-1"></i></a></li>
                    </ul>
                </li>
            </ul>
            {% else %}

            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 pb-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'register' %}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'login' %}"> Login <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>