{% extends 'physio-slim/main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<script src="assets/js/scripts.bundle.js"></script>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-7 d-flex justify-content-center align-items-center">
        <div class="col-8">
            <form method="POST" action=""> {% csrf_token %}
                <h1>REGISTER</h1>
                <div class="inset " id="first">
                    <p>
                        <input type="text" name="username" placeholder="Enter username..." required>
                    </p>
                    <p>
                        <input type="email" name="email" placeholder="Enter email..." required>
                    </p>
                    <p>
                        <input type="password" name="password1" placeholder="password..." required>
                    </p>
                    <p>
                        <input type="password" name="password2" placeholder="confirm password..." required>
                    </p>
                    <p>
                        <input type="tel" name="phone" placeholder="Enter phone..." required>
                    </p>
                    <p>
                        <select name="branch" class="form-control" required="" id="id_branch">
                            <option value="" selected="">Choose your branch</option>

                            <option value="1">a</option>

                        </select>
                    </p>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="text-danger">
                                <p>{{ error|escape }}</p>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="inset " id="second" style="display: none;">
                    <p>

                    <div class="file-field">
                        <div class="mb-4 d-flex flex-column  align-items-center">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"
                                class="rounded-circle avatar-pic" id='avatar' style=" object-fit: cover;
                                width:150px;
                                height:150px;" alt="avatar">
                            <label for="file-upload" class="custom-file-upload mt-3">
                                <i class="fa fa-cloud-upload"></i> Add Photo
                            </label>
                            <input id="file-upload" type="file" name="avatar" onchange="changeAvatar()"
                                accept="image/*" />
                        </div>
                    </div>

                    </p>
                    <p>
                        <input type="number" name="age" placeholder="Enter age..." required min="1">
                    </p>
                    <p>
                        <select name="gender" class="form-control" required="" id="id_gender">
                            <option value="" selected="">Choose your gender</option>

                            <option value="male">male</option>

                            <option value="female">female</option>

                        </select>
                    </p>

                    <p>
                        <label for="id_membership_num">If you have(optional):</label>
                        <input type="text" name="membership_num" placeholder="Enter membership number">
                    </p>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="text-danger">
                                <p>{{ error|escape }}</p>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                </div>

                <div class="p-container">
                    <button type="submit" id="next" class="btn next text-light" style="float: right;" onclick="changeForm()">Next <i
                            class="fa-solid fa-chevron-right"></i></button>
                    <button type="submit" id="back" class="btn next text-light" onclick="changeForm()" style="display: none;"><i
                            class="fa-solid fa-chevron-left"></i> Back</button>

                            <p class="p-container">
                                <input class="submit" id="submit" type="submit" value="Signup" style="display: none;">
                            </p>                
                </div>
            </form>

        </div>

    </div>

    <div class="col-5">
        <img src="{% static 'images/login.jpg' %}" style="width: 100%; float: right;">
    </div>
</div>





<script>
    function changeAvatar() {
        var img = document.getElementById("avatar")
        var avatar = document.getElementById("file-upload")
        img.src = URL.createObjectURL(avatar.files[0])

    }
    function changeForm() {
        var first = document.getElementById("first")
        var second = document.getElementById("second")
        var next = document.getElementById("next")
        var back = document.getElementById("back")
        var submit = document.getElementById("submit")

        if (next.style.display == "none") {
            first.style.display = 'block'
            next.style.display = 'inline-block'
            second.style.display = 'none'
            back.style.display = 'none'
            submit.style.display = 'none'



        }
        else {
            first.style.display = 'none'
            next.style.display = 'none'
            second.style.display = 'block'
            back.style.display = 'inline-block'
            submit.style.display = 'inline-block'

        }
    }
</script>


</body>

{% endblock %}