{% extends 'physio-slim/main.html' %}
{% load static %}

{% block head %}
{% endblock %}  



{% block body %} 
<div class="container" style="margin: 5%;">
  <div class="row">
    <h1>Verify your account</h1>
    <form method="post" style="margin: auto;" action="{% url 'verify-code' %}">
      {% csrf_token %}
      <input type="text" name="code" maxlength="8" required="" id="id_code">  
      <br><br> 
      <p class="text-danger">  {{error}}</p>
      <a href="{% url 're-verify' %}" class="text-dark">Send again?</a>

      <button type="submit" name="send email" class="btn btn-primary" >Verify</button>
    </form>
    
  </div>
</div>
{% endblock %}