


.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
    
}

.login_btn {
    width: 100%;
    background: #0d6efd !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-size: medium;
}