.gray-color{
    color: #4d4d4d !important;
}
.gray-background{
    background-color: #4d4d4d !important;
}
.yellow-color{
    color: #fde303 !important;
}
.yellow-background{
    background-color: #fde303 !important;
}
.purple-color{
    color: #663399 !important;
}
.purple-background{
    background-color: #663399 !important;
}
