{% extends 'physio-slim/main.html' %}
 {% load static %}
  {% block head %}
<title>{{branch.name}} Clinics</title>
{% endblock %} {% block navbar %} 
{% include 'physio-slim/navbar.html' %} 
{%endblock %} 
{% block main %}
<div class="row p-1">
  {% for clinic in clinics %}

  <div class="col-12 col-md-6 col-lg-6">
    <div class="card m-1 mt-5" style="height: 70vh">
      <div
        class="bg-image hover-overlay ripple p-1"
        data-mdb-ripple-color="light"
      >
        <img
          src="{{MEDIA_URL}}/{{clinic.photo}}"
          class="img-fluid mx-3"
          style="
            width: 90%;

            height: 250px;
            background-size: cover;
          "
        />
        <div
          class="mask"
          style="background-color: rgba(251, 251, 251, 0.15)"
        ></div>
      </div>
      <h4 class="card-title m-1 pl-3">{{clinic.clinic}}</h4>
      <p class="card-text m-2 pl-3">{{clinic.description}}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
